{% extends 'base.html' %}
 {% block title %}
    Inventory
 {% endblock %}}

 {% block content %}
    <div class="container">
    <h2>
      Inventory Items.
    </h2>  
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Year</th>
                <th scope="col">Make</th>
                <th scope="col">Model</th>
                <th scope="col">invoice</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.year }}</td>
                <td>{{ item.make }}</td>
                <td>{{ item.model}}</td>
                <td>{{ item.invoice_price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
